nav {
	ul {
		list-style: none;

	}
	.dropdown.menu > li.opens-left > .is-dropdown-submenu {
		z-index: 2000
	}

	#menu {
		float: left;
	}

	#notifications {
		float: right;

		> li.is-dropdown-submenu-parent > a {
			font-size: 1.4rem;
			padding-right: 0;

			&::after {
				display: none;
			}
		}
	}
}
