.top-bar-left {
	display: flex;

	a.logo {
		font-size: 1.8rem;
		font-weight: 600;
		margin-right: 1.5rem;
	}

	#search-address {
		max-width: none;
		flex-grow: 1;
		border: #AAA 1px solid;
		border-radius: .5rem;
	}
}