{
	"parser":  "babel-eslint",
	"extends": [
		"standard"
	],
	"plugins": [
		"babel"
	],
	"rules":   {
		"key-spacing":              0,
		"jsx-quotes":               [
			2,
			"prefer-single"
		],
		"max-len":                  [
			2,
			150,
			2
		],
		"indent":                   [
			2,
			"tab"
		],
		"no-tabs":                  0,
		"no-mixed-spaces-and-tabs": 0
	}
}
