{
  "parser": "babel-eslint",
  "extends": [
    "standard"
  ],
  "plugins": [
    "babel"
  ],
  "rules": {
    "key-spacing": 0,
    "jsx-quotes": [
      "warn",
      "prefer-single"
    ],
    "max-len": [
      "warn",
      150,
      2
    ],
    "indent": [
      "warn",
      "tab"
    ],
    "no-tabs": 0,
    "no-mixed-spaces-and-tabs": 0,
    "no-trailing-spaces": "warn",
    "no-multiple-empty-lines": "warn",
    "semi": "warn",
    "padded-blocks": "warn",
    "space-before-function-paren": "warn",
    "keyword-spacing": "warn",
    "spaced-comment": "warn"
  }
}
