<!DOCTYPE html>
<html lang="en">
<head>
	<title>CouchBC</title>
	<link href="/bundles/app.css" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
</head>
<body>
<div id="app">
	<nav>
		<div class="top-bar">
			<div class="top-bar-left">
				<a href="#" v-on:click.stop="page = 'start'" class="logo">CouchBC</a>

				<gmap-autocomplete
						id="search-address"
						:value="''"
						:placeholder="'Where do you want to go?'"
						:types="['(cities)']"
						@place_changed="changeSearchAddress">
				</gmap-autocomplete>
			</div>
			<div class="top-bar-right align-middle">
				<ul id="menu" class="dropdown menu" data-dropdown-menu>
					<li>
						<a href="#">Account</a>
						<ul>
							<li>
								<a href="#" v-on:click.stop="page = 'add-apartment'">
									Add apartment
								</a>
							</li>
							<li v-if="userApartments.length > 0">
								<a href="#" v-on:click.stop="page = 'user-apartments'">
									My apartments
								</a>
							</li>

							<li v-if="rentals.length > 0">
								<a href="#" v-on:click.stop="page = 'rentals'">
									My rentals
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="page start" v-if="page == 'start'">
		<header>
			<img :src="getImageUrl('Qma2jcNZYJ9FTUY5xA2iS6arL39usU5mg8fiLy3DseLiJz')">
			<div class="text">
				<h1>Time for a retreat</h1>
				<h2>Rent an apartment on CouchBC using blockchain technology</h2>
			</div>
		</header>
	</div>
	<div class="page apartments" v-if="page == 'apartments'">
		<div class="grid-x grid-padding-x">
			<div id="apartments" class="cell medium-7">
				<p>Found {{apartments.length}} apartment<span v-if="apartments.length != 1">s</span>
					in {{searchData.city}}, {{searchData.country}}</p>

				<div class="apartment" :id="'apartment-' + apartment.id" v-for="apartment in apartments" v-on:click="showApartment(apartment)" :style="getApartmentStyle(apartment)">
					<div class="img">
						<img v-if="apartment.primaryImage" :src="getImageUrl(apartment.primaryImage)">
					</div>
					<div class="text">
						<p class="title">
							{{apartment.title|escape|truncate(20)}}
							<span v-if="apartment.reviews.length > 0"
							      class="stars"
							      :style="{backgroundImage: getImageUrl('QmepT6MmHFZTuhtaA7esu7GtD476UQUdXk3K2bWRi2Hmid'), width: getStarsWidth(apartment.averageScore, 122)}">
							</span>
						</p>
						<p>
							<span v-if="apartmentsFrom && apartmentsTill">{{getTotalPrice(apartment)}}
								per night</span>
							<span v-if="!(apartmentsFrom && apartmentsTill)">{{apartment.pricePerNight}}
								per night</span>
							/ {{apartment.deposit}} deposit</p>
					</div>
					<!--<a class="waves-effect waves-light btn" v-if="apartmentsFrom && apartmentsTill && registered" v-on:click.stop="rent(apartment)">book</a>-->
				</div>
			</div>
			<div class="cell medium-5">
				<gmap-map
						:center="{lat: searchData.latitude, lng: searchData.longitude}"
						:zoom="11"
						map-type-id="terrain"
						style="width: 100%; height: 100%; min-height: 300px; max-height:800px">
					<gmap-marker
							v-for="apartment in apartments"
							:key="apartment.id"
							:position="apartment.position"
							:clickable="true"
							@mouseover="highlightApartment(apartment)"
							@mouseout="unhighlightApartment(apartment)"
							@click="showApartment(apartment)"
					></gmap-marker>
				</gmap-map>
			</div>
		</div>
	</div>
	<div class="page apartment" v-if="page == 'apartment'">
		<div class="grid-container">
			<header>
				<vue-flux
						:options="fluxOptions"
						:images="getApartmentImages(currentApartment)"
						:transitions="fluxTransitions"
						ref="slider">
				</vue-flux>
				<div class="text">
					Request form
				</div>
			</header>
			<h1>{{currentApartment.title|escape}}</h1>
			{{currentApartment.description|escape|nl2br}}
		</div>
	</div>

	<!--
		<table>
			<thead>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Country</th>
				<th>City</th>
				<th>Price per night</th>
				<th>Deposit</th>
				<th></th>
			</tr>

			<tr v-for="apartment in apartments">
				<td><img :src="ipfsShowUrl + apartment.image"></td>
				<td>{{ apartment.title }}</td>
				<td>{{ apartment.address.country }}</td>
				<td>{{ apartment.address.city }}</td>
				<td>{{ apartment.pricePerNight }}</td>
				<td>{{ apartment.deposit }}</td>
				<td>

				</td>
			</tr>
			</thead>
		</table>
		-->
	<div class="page add-apartment" v-if="page == 'add-apartment'">
		<form>
			<div class="grid-container">
				<h1>Add new apartment</h1>
				<div class="grid-x grid-padding-x">
					<div class="cell large-9 grid-x grid-padding-x">
						<div class="form-control cell">
							<label for="add-apartment-title">Title</label>
							<input id="add-apartment-title" type="text" name="title" v-model="newApartmentData.title">
						</div>
						<div class="form-control cell">
							<label for="add-apartment-description">Description</label>
							<textarea id="add-apartment-description" name="description" v-model="newApartmentData.description"></textarea>
						</div>
						<div class="form-control cell">
							<label for="apartment-address">Address</label>
							<gmap-autocomplete
									id="apartment-address"
									:value="''"
									@place_changed="changeApartmentAddress">
							</gmap-autocomplete>
						</div>
						<div class="form-control cell large-6">
							<label for="add-apartment-pricePerNight">Price per night in finney</label>
							<input id="add-apartment-pricePerNight" type="number" name="pricePerNight" v-model="newApartmentData.pricePerNight">
						</div>
						<div class="form-control cell large-6">
							<label for="add-apartment-deposit">Deposit in finney</label>
							<input id="add-apartment-deposit" type="number" name="deposit" v-model="newApartmentData.deposit">
						</div>

						<div class="form-control cell image medium-6 large-4">
							<label for="add-apartment-primary-image">Primary image</label>
							<input id="add-apartment-primary-image" type="file" name="primaryImage" v-on:change="changeImageSrc">
							<img class="preview" src="">
						</div>
						<div
								class="form-control cell image medium-6 large-4"
								v-for="(image, index) in newApartmentData.images">
							<label :for="'add-apartment-image-' + index">Image {{index + 2}}</label>
							<input :id="'add-apartment-image-' + index" class="add-image" type="file" :name="'image-' + index" :data-index="index" v-on:change="changeImageSrc">
							<img class="preview" src="">
						</div>

						<div class="form-control cell">
							<div class="button add" v-on:click="newApartmentData.images.push('')">
								<span class="mdi mdi-plus-box"></span>
								Add image
							</div>
						</div>
					</div>
					<div id="account-selection" class="cell large-3">
						<h3>Account selection</h3>

						<div
								v-for="(account, index) in accounts"
								:class="{account: true, active: account == newApartmentData.account, forbidden: account.type == 'tenant' || account.type == 'interaction', rental: account.type == 'rental'}"
								:for="'account-' + index" class="account"
								v-on:click="selectNewApartmentAccount(account)">
							<span class="blockie" :style="getBlockie(account.address)"></span>
							<span v-if="account.type == 'owner'" class="mdi mdi-home-account tooltip" title="This account is used for managing apartments"></span>
							<span v-if="account.type == 'tenant'" class="mdi mdi-account-card-details tooltip" title="This account is used for managing rentals and thus cannot be used to add an apartment"></span>
							<span v-if="account.type == 'interaction'" class="mdi mdi-account-switch tooltip" title="This account has been used in a rental and thus cannot be used for adding an apartment"></span>
							{{account.address.substr(0, 12)}}...{{account.address.substr(36)}}
						</div>
					</div>
				</div>

				<a class="button" v-on:click.stop="addApartment">Add apartment</a>
			</div>
		</form>
	</div>
	<div class="container" v-if="page == 'add-apartment-image'">
		<div class="input-field">
			<label for="add-apartment-image">Image</label>
			<input id="add-apartment-image" type="file" name="image">
		</div>
	</div>
	<div class="container" v-if="page == 'user-apartments'">
		<table>
			<thead>
			<tr>
				<th>Title</th>
				<th>Country</th>
				<th>City</th>
				<th>Price per night</th>
				<th>Deposit</th>
				<th>Rentals</th>
				<th></th>
			</tr>

			<tr v-for="apartment in userApartments">
				<td>{{ apartment.title }}</td>
				<td>{{ apartment.country }}</td>
				<td>{{ apartment.city }}</td>
				<td>{{ apartment.pricePerNight }}</td>
				<td>{{ apartment.deposit }}</td>
				<td>
					<a href="#" v-on:click.stop="showApartmentRentals(apartment)">{{ apartment.rentals }}</a>
				</td>
				<td>
					<a class="waves-effect waves-light btn" v-if="apartment.disabled" v-on:click.stop="enableApartment(apartment)">Enable</a>
					<a class="waves-effect waves-light btn" v-if="!apartment.disabled" v-on:click.stop="disableApartment(apartment)">Disable</a>
				</td>
			</tr>
			</thead>
		</table>
	</div>
	<div class="container" v-if="page == 'rentals'">
		<table>
			<thead>
			<tr>
				<th>Title</th>
				<th>Country</th>
				<th>City</th>
				<th>From</th>
				<th>Till</th>
				<th>Deposit</th>
				<th></th>
			</tr>

			<tr v-for="rental in rentals">
				<td>{{ rental.apartment.title }}</td>
				<td>{{ rental.apartment.country }}</td>
				<td>{{ rental.apartment.city }}</td>
				<td>{{ rental.from | formatDate }}</td>
				<td>{{ rental.till | formatDate }}</td>
				<td>{{ rental.deposit }}</td>
				<td>
					<a class="waves-effect waves-light btn" v-if="rental.depositClaimable" v-on:click.stop="claimDeposit(rental)">claim
						deposit</a>
				</td>
			</tr>
			</thead>
		</table>
	</div>

	<div class="container" v-if="page == 'apartment-rentals'">
		<h3>Rentals for {{currentApartment.title}}</h3>
		<table>
			<thead>
			<tr>
				<th>From</th>
				<th>Till</th>
				<th>Deposit</th>
				<th></th>
			</tr>

			<tr v-for="rental in apartmentRentals">
				<td>{{ rental.from | formatDate }}</td>
				<td>{{ rental.till | formatDate }}</td>
				<td>{{ rental.deposit }}</td>
				<td>
					<a class="waves-effect waves-light btn" v-if="!rental.depositClaimable" v-on:click.stop="refundDeposit(rental)">refund
						deposit</a>
				</td>
			</tr>
			</thead>
		</table>
	</div>

	<div class="container" v-if="page == 'refund-deposit'">
		<h3>Buy credits</h3>
		<p>Use ether to buy credits</p>
		<form>
			<div class="input-field">
				<label for="deduct">Deduct from deposit (max. {{ currentRental.deposit }})</label>
				<input id="deduct" type="number" min="0" :max="currentRental.deposit" step="1" name="deduct" v-model="deductAmount">
			</div>
			<p>=> Refund {{ currentRental.deposit - deductAmount}} credits</p>
			<a class="waves-effect waves-light btn" v-on:click.stop="doRefundDeposit()">Refund deposit</a>
		</form>
	</div>
	<div class="container" v-if="page == 'register'">
		<form>
			<div class="input-field">
				<label for="register-name">Name</label>
				<input id="register-name" type="text" name="name" v-model="newUserData.name">
			</div>
			<div class="input-field">
				<label for="register-street">Street</label>
				<input id="register-street" type="text" name="street" v-model="newUserData.street">
			</div>
			<div class="input-field">
				<label for="register-zip">Zip code</label>
				<input id="register-zip" type="text" name="zip" v-model="newUserData.zip">
			</div>
			<div class="input-field">
				<label for="register-city">City</label>
				<input id="register-city" type="text" name="city" v-model="newUserData.city">
			</div>
			<div class="input-field">
				<label for="register-country">Country</label>
				<input id="register-country" type="text" name="country" v-model="newUserData.country">
			</div>
			<a class="waves-effect waves-light btn" v-on:click.stop="register">Register</a>
		</form>
	</div>
	<div class="container" v-if="page == 'transfer'">
		<h3>Buy credits</h3>
		<p>Use ether to buy credits</p>
		<form>
			<div class="input-field">
				<label for="transfer-eth">Eth</label>
				<input id="transfer-eth" type="number" min="0.001" step="0.001" name="eth" v-model="transferEth">
			</div>
			<p>=> {{transferCredits}} credits</p>
			<a class="waves-effect waves-light btn" v-on:click.stop="doTransfer">Transfer</a>
		</form>
	</div>
	<div class="container" v-if="page == 'payout'">
		<h3>Payout</h3>
		<p>Convert credits and transfer to account address</p>
		<form>
			<div class="input-field">
				<label for="payout-credits">Credits</label>
				<input id="payout-credits" type="number" min="1" :max="balance" name="credits" v-model="payoutCredits">
			</div>
			<p>=> {{payoutEth}} eth</p>
			<a class="waves-effect waves-light btn" v-on:click.stop="doPayout">Payout</a>
		</form>
	</div>
</div>

<script src="/bundles/app.js"></script>
</body>
</html>
