<!DOCTYPE html>
<html>
<head>
	<title>Rental application</title>
</head>
<body>
<div id="app">
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="left">Rental application</a>
			<span class="right" v-if="registered">
				{{ balance }} credits
				<a href="#" v-on:click.stop="page = 'transfer'" class="transfer" v-if="ethBalance > 0">&lt;</a> | <a href="#" v-on:click.stop="page = 'payout'" class="payout" v-if="balance > 0">&gt;</a>
				~{{ ethBalance }} eth
			</span>
			<span class="right" v-if="!registered && accountChecked"><a href="#" v-on:click.stop="page = 'register'">Register</a></span>
		</div>
	</nav>

	<div class="row">
		<div class="col m3 menu">
			<ul>
				<li><a href="#" v-on:click.stop="page = 'start'">Start</a></li>
				<li><a href="#" v-on:click.stop="page = 'apartments'">Show apartments</a></li>
				<li><a href="#" v-on:click.stop="page = 'add-apartment'">Add apartments</a></li>
				<li><a href="#" v-on:click.stop="page = 'rentals'">Show my rentals</a></li>
			</ul>
		</div>
		<div class="col m9">
			<div class="container" v-if="page == 'start'">
				Start
			</div>
			<div class="container" v-if="page == 'apartments'">
				<div class="right col s12 m6">
					Search for apartments available at:
					<div class="col s12 m6">
						<span>From</span>
						<datepicker v-model="apartmentsFrom" :disabled-dates="disabledDates" :monday-first="true"></datepicker>
					</div>
					<div class="col s12 m6">
						<span>Till</span>
						<datepicker v-model="apartmentsTill" :disabled-dates="disabledDates" :monday-first="true"></datepicker>
					</div>
				</div>

				<table>
					<thead>
					<tr>
						<th>Title</th>
						<th>Country</th>
						<th>City</th>
						<th>Price per night</th>
						<th>Deposit</th>
						<th></th>
					</tr>

					<tr v-for="apartment in apartments">
						<td>{{ apartment.title }}</td>
						<td>{{ apartment.country }}</td>
						<td>{{ apartment.city }}</td>
						<td>{{ apartment.pricePerNight }}</td>
						<td>{{ apartment.deposit }}</td>
						<td>
							<a class="waves-effect waves-light btn" v-if="apartmentsFrom && apartmentsTill" v-on:click.stop="rent(apartment)">book</a>
						</td>
					</tr>
					</thead>
				</table>
			</div>
			<div class="container" v-if="page == 'add-apartment'">
				<form>
					<div class="input-field">
						<label for="add-apartment-title">Title</label>
						<input id="add-apartment-title" type="text" name="title" v-model="newApartmentData.title">
					</div>
					<div class="input-field">
						<label for="add-apartment-street">Street</label>
						<input id="add-apartment-street" type="text" name="street" v-model="newApartmentData.street">
					</div>
					<div class="input-field">
						<label for="add-apartment-zip">Zip code</label>
						<input id="add-apartment-zip" type="text" name="zip" v-model="newApartmentData.zip">
					</div>
					<div class="input-field">
						<label for="add-apartment-city">City</label>
						<input id="add-apartment-city" type="text" name="city" v-model="newApartmentData.city">
					</div>
					<div class="input-field">
						<label for="add-apartment-country">Country</label>
						<input id="add-apartment-country" type="text" name="country" v-model="newApartmentData.country">
					</div>
					<div class="input-field">
						<label for="add-apartment-pricePerNight">Price per night</label>
						<input id="add-apartment-pricePerNight" type="number" name="pricePerNight" v-model="newApartmentData.pricePerNight">
					</div>
					<div class="input-field">
						<label for="add-apartment-deposit">Deposit</label>
						<input id="add-apartment-deposit" type="number" name="deposit" v-model="newApartmentData.deposit">
					</div>
					<a class="waves-effect waves-light btn" v-on:click.stop="addApartment">Register</a>
				</form>
			</div>
			<div class="container" v-if="page == 'rentals'">
				<table>
					<thead>
					<tr>
						<th>Title</th>
						<th>Country</th>
						<th>City</th>
						<th>From</th>
						<th>Till</th>
						<th>Deposit</th>
						<th></th>
					</tr>

					<tr v-for="rental in rentals">
						<td>{{ rental.apartment.title }}</td>
						<td>{{ rental.apartment.country }}</td>
						<td>{{ rental.apartment.city }}</td>
						<td>{{ rental.from | formatDate }}</td>
						<td>{{ rental.till | formatDate }}</td>
						<td>{{ rental.deposit }}</td>
						<td>
							<a class="waves-effect waves-light btn" v-if="depositClaimable(rental)" v-on:click.stop="claimDeposit(rental)">claim
								deposit</a>
						</td>
					</tr>
					</thead>
				</table>
			</div>
			<div class="container" v-if="page == 'register'">
				<form>
					<div class="input-field">
						<label for="register-name">Name</label>
						<input id="register-name" type="text" name="name" v-model="newUserData.name">
					</div>
					<div class="input-field">
						<label for="register-street">Street</label>
						<input id="register-street" type="text" name="street" v-model="newUserData.street">
					</div>
					<div class="input-field">
						<label for="register-zip">Zip code</label>
						<input id="register-zip" type="text" name="zip" v-model="newUserData.zip">
					</div>
					<div class="input-field">
						<label for="register-city">City</label>
						<input id="register-city" type="text" name="city" v-model="newUserData.city">
					</div>
					<div class="input-field">
						<label for="register-country">Country</label>
						<input id="register-country" type="text" name="country" v-model="newUserData.country">
					</div>
					<a class="waves-effect waves-light btn" v-on:click.stop="register">Register</a>
				</form>
			</div>
			<div class="container" v-if="page == 'transfer'">
				<h2>Buy credits</h2>
				<p>Use ether to buy credits</p>
				<form>
					<div class="input-field">
						<label for="transfer-eth">Eth</label>
						<input id="transfer-eth" type="number" min="0.001" step="0.001" name="eth" v-model="transferEth">
					</div>
					<p>=> {{transferCredits}} credits</p>
					<a class="waves-effect waves-light btn" v-on:click.stop="doTransfer">Transfer</a>
				</form>
			</div>
			<div class="container" v-if="page == 'payout'">
				<h2>Payout</h2>
				<p>Convert credits and transfer to account address</p>
				<form>
					<div class="input-field">
						<label for="payout-credits">Credits</label>
						<input id="payout-credits" type="number" min="1" v-bind:max="balance" name="credits" v-model="payoutCredits">
					</div>
					<p>=> {{payoutEth}} eth</p>
					<a class="waves-effect waves-light btn" v-on:click.stop="doPayout">Payout</a>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="./app.js"></script>
</body>
</html>
