<!DOCTYPE html>
<html>
<head>
	<title>Rental application</title>
</head>
<body>
<div id="app">
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Rental application</a>
			<ul id="nav-mobile" class="right">
				<li v-if="registered"><span id="balance">{{ balance }}</span> credits</li>
				<li v-if="!registered && accountChecked"><a href="#" v-on:click="page = 'register'">Register</a></li>
			</ul>
		</div>
	</nav>

	<div class="row">
		<div class="col m3 menu">
			<ul>
				<li><a href="#" v-on:click="page = 'start'">Start</a></li>
				<li><a href="#" v-on:click="page = 'apartments'">Show apartments</a></li>
				<li><a href="#" v-on:click="page = 'rentals'">Show my rentals</a></li>
			</ul>
		</div>
		<div class="col m9">
			<div class="container" v-if="page == 'start'">
				SSS
			</div>
			<div class="container" v-if="page == 'apartments'">
				AAA
			</div>
			<div class="container" v-if="page == 'rentals'">
				RRR
			</div>
			<div class="container" v-if="page == 'register'">
				Reg
			</div>
		</div>
	</div>
</div>
<script src="./app.js"></script>
</body>
</html>
