div.page.apartments {
	div.apartment {
		position: relative;
		width: 20rem;
		height: 14rem;
		margin: 0 1rem 1rem 0;
		float: left;
		border: #ccc 1px solid;
		border-radius: .4rem;
		cursor: pointer;
		transition: width .3s, height .3s, margin .3s;
		overflow: hidden;
		&:hover {
			width: 19.2rem;
			height: 13.4rem;
			margin: .3rem 1.4rem 1.4rem .3rem;
		}
		img {
			width: 100%;
		}
		div.text {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: rgba(255, 255, 255, 0.7);
			padding: .4rem;

		}
		p {
			margin: 0;
			&.title {
				font-weight: bold;
				margin-bottom: .4rem;
			}
		}
	}
}